@{
    ViewBag.Title = "About";
}
<h1>About My Closet</h1><!--Just gave some history of the website and removed actionlinks that were here-->
<p>My Closet was started by the "Freshest" guy in the world Samuel Lavalle Saunders Sr. his fashion exploits are world reknown and he has a cult following. The way Mr. Saunders puts his outfits together makes so much sense but is also so stratigic it makes him a fasion icon! So Mr. Saunders had to share his fashion prowess with the world with "My Closet" which he started in 2015 to help the world dress better!!!!!!!!!!!!!!!So enjoy!</p>
