@{
    ViewBag.Title = "Contact";
}
<h1>My Closet Contact Page</h1>
<address>
    One My Closet Way<br />
    Milan, Italy<br />
    <abbr title="Phone">P:</abbr>
    420.420.0100
</address>

<p>
    <img src="~/Content/pics/WeCanCodeIT0147.jpg"style="width:250px;height:265px;"/>  </p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@mycloset.com">Support@mycloset.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mycloset.com">Marketing@mycloset.com</a>
</address>